h1 {
    color: rgb(158, 64, 78);
    text-align: center;
    font-family: fantasy;
    padding: 50px;
    width: 300px;
    margin: 20px auto;   /* center the box */
}

.container {
    text-align: center;
}

/* Correct hover example */
.product-card button:hover {
    background-color: rgb(73, 18, 28);
    color: white;
    cursor: pointer;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
}

.product-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #9a1717;
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 200px;
}

.product-card h3 {
    margin: 10px 0;
}

.price {
    color: #ef2626;
    font-weight: bold;
}

.product-card button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #ef2626;
    color: white;
    border: none;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #c81d1d;
}
.product-card h3 {
    margin: 10px 0;
}

.price {
    color: #ef2626;
    font-weight: bold;
}

.product-card button {
    margin-top: 10px;
    padding: 8px;
    width: 100%;
    background-color: #f0c14b;
    border: none;
    cursor: pointer;
}
.product-card button:hover{
    background-color: azure;
}
.navbar{
    background-color: black;
    color: aliceblue;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 22px;
    font-weight: bold;
}
.navbar input{
    width: 200px;
    padding: 6px;
}
.nav-links a{
    color: white;
    margin-left: 15px;
    text-decoration: none;
}
.nav-link :active{
    color: #624704;
}
body {
    margin: 0;
    font-family: Arial;
}

header {
    background: #ca8e5d;
    color: white;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.about {
    padding: 40px;
    text-align: center;
    background: #f2f2f2;
}

.about h2 {
    color: rgb(203, 69, 16);
}

footer {
    background: rgb(233, 153, 24);
    color: white;
    text-align: center;
    padding: 15px;
}

body {
    margin: 0;
    font-family: Arial;
}

header {
    background: #f7f7f7;
    color: white;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.contact {
    text-align: center;
    padding: 40px;
    background: #f2f2f2;
}

form input, form textarea {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background: rgb(233, 153, 24);
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background: rgb(224, 74, 10);
    color: white;
    text-align: center;
    padding: 15px;
}

body {
    margin: 0;
    font-family: Arial;
}

header {
    background: rgb(243, 142, 9);
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 60px;
    background: rgb(223, 142, 9);
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

.content {
    padding: 40px;
    text-align: center;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
}